---
layout: default
---

<div class="home">
  {% if page.title %}
  <h1>{{ page.title }}</h1>
  {% endif %}

  <div>
    <img src="assets/EduardoDaSilva.jpg" width="180px" align="left" hspace="10px">

    <p>My name is <a href="/about/">Eduardo da Silva</a> and I am (Software) Tech Leader & Sociotechnical Architect
      working and living in the Netherlands.<br>
      My passions are Tech Leadership and (Socio-Technical) Software Architecture and how to best use these to improve
      how we design, engineer and build software products and the organizations behind them. This entails technical and
      organizational (systems) developments and how to set them on a continuous improvement model. In this website you
      will mostly find <a href="/articles/">articles</a>, <a href="/projects/">projects</a> and <a
        href="/talks/">talks</a> related with these topics. </p>
  </div>

  <img src="assets/news.png" width="50px" align="left" hspace="10px">
  <h2>{{ page.list_title | default: "News" }}</h2>
  <br>
  <sub>
    <div>
      <ul>
        <li>
          [<b>May 2021</b>] New articles on my sociotechnical architecture series: "Sociotechnical Architecture as Enabler of Product Thinking". Goal: articulate how important it is to have a holistic understanding and approach to build and evolve products (in product-led organizations). Check details here: <a href="https://esilva.net/articles/sociotech_arch_enabling_prod_thinking">link</a>
        </li>
        <li>
          [<b>April 2021</b>] Was interviewed for InfoQ by Manuel Pais (from Team Topologies) on the topic "beyond DevOps" and Sociotechnical Architecture, check details here: <a href="https://www.infoq.com/articles/devops-not-enough-scaling-tech-driven-organizations">link</a>
        </li>
        <li>
          [<b>April 2021</b>] Gave a talk on "Evolving Tech-enabled Orgs Using Sociotechnical Architecture" at DevOps Lisbon Meetup. Find the video, deck and a blog post on this here: <a href="https://esilva.net/talks/#sociotechnical-devopslisbon_2021">link</a>
        </li>
      </ul>
    </div>
  </sub>

  <br>

  <div>
    {% if site.posts.size > 0 %}
    <img src="assets/articles.png" width="50px" align="left" hspace="10px">
    <h2>{{ page.list_title | default: "Recent articles" }}</h2>
    <br>
    <ul class="post-list">
      {% for post in site.posts limit:3 %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {% if site.show_excerpts %} {{ post.excerpt }} {% endif %}
      </li>
      {% endfor %}
    </ul>

    <h4>>> check all articles here: <a href="/articles/">Articles</a></h4>
    {% endif %}
  </div>

  <br>

  <div>
    {% if site.pages.size > 0 %}
    <img src="assets/tla_insights.png" width="50px" align="left" hspace="10px">
    <h2>{{ page.list_title | default: "Recent TLA_insights" }}</h2>
    <br>
    <ul class="post-list">
      {% assign sorted_pages = site.pages %}
      {% assign sorted_pages = sorted_pages | where_exp: "item", "item.tla_area contains 'tla'" %}
      {% assign sorted_pages = site.pages | sort:"date" | reverse %}
      {% for page in sorted_pages reverse limit:3 %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ page.date | date: date_format }}</span>
        <h3>
          <a href="{{ page.url | relative_url }}">
            {{ page.title | escape }}
          </a>
        </h3>
        {% if site.show_excerpts %} {{ page.excerpt }} {% endif %}
      </li>
      {% endfor %}
    </ul>

    <h4>>> check all insights records here: <a href="/tla_insights/">TLA_insights</a></h4>
    {% endif %}
  </div>

  {% comment %} <div align="center">
    <font color="grey" size=2em>
      <br>
      /* developed with <a href="http://jekyllrb.com"><img src="assets/jekyll.png" width="50px"></a> hosted on <a
        href="http://github.com/emgsilva/esilva.net"><img src="assets/github.png" width="50px"></a> */
    </font>
  </div> {% endcomment %}

</div>