---
layout: default
---

<div class="home">
  {% if page.title %}
  <h1>{{ page.title }}</h1>
  {% endif %}

  <div>
    <img src="assets/photo-eduardo.jpg" width="170px" align="right" hspace="10px">

    <p>My name is <a href="/about/">Eduardo da Silva</a>, and I am an Independent Consultant on sociotechnical systems evolution, architecture, and leadership. I am a <a href="https://teamtopologies.com/ttvp">Team Topologies Valued Practitioner (TTVP)</a>.</p> 
    <p><b>My mission is to help (software) tech-enabled organizations scale a sustainable fast flow of change</b>. I help organizations developing cultures, structures, and dynamics to sustainably cope with their ever-changing environment (customers, business goals, markets, technological changes, etc.). I do this by bringing different <a href="/consulting/sociotech-evolution">thinking models</a> (SocioTechnical Systems Thinking, Architecture & Leadership Modernization, Team Topologies, DDD, etc.); helping shape <a href="/consulting/scalable-operating-models">suitable operating models</a>; and <a href="/consulting/sociotech-leadership">coaching leaders and teams</a> to drive the organization's sustainable flow of change. </p> 
    <p>In this website you can information on my <a href="/consulting">consulting services</a>, and my <a href="/articles/">writings</a> and <a href="/talks/">talks</a>.</p>
  </div>
  <br>

  <img src="assets/news.png" width="50px" align="left" hspace="10px">
  <h2>{{ page.list_title | default: "News" }}</h2>
  <br>
  <sub>
    <div>
      <ul>
        <li>
          <font color="#ff8000">🌟[<b>July 2023</b>] public launch of <a href="https://modernarch.consulting">ModernArch Consulting</a> - a series of bespoke sessions, and workshops, I provide in collaboration with Nick Tune to help organizations kickstart and accelerate their architecture modernization journeys.</font><br>
          <font color="#ff8000">🌟[<b>June 2023</b>] new Team Topologies Academy video course <a href="https://esilva.net/articles/effective-enabling-teams-course">"Effective Enabling Teams - Video Course"</a>. This course will help you understand the importance of Enabling Teams to address capability gaps and support a fast flow of changes and value to customers. You will learn how and when to kickstart, measure and scale Enabling Teams.</font><br>
        </li>
        <li>
          🌟[<b>May 2023</b>] check my latest talk on <a href="https://esilva.net/talks/#fastflowconf_2023">"Effective Enabling Teams"</a>, which I gave at FastFlowConf 2023
        </li>
        </li>
      </ul>
    </div>
  </sub>

  <br>

  <div>
    {% if site.posts.size > 0 %}
    <img src="assets/articles.png" width="50px" align="left" hspace="10px">
    <h2>{{ page.list_title | default: "Recent articles" }}</h2>
    <br>
    <ul class="post-list">
      {% for post in site.posts limit:3 %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {% if site.show_excerpts %} {{ post.excerpt }} {% endif %}
      </li>
      {% endfor %}
    </ul>

    <h4>>> check all articles here: <a href="/articles/">Articles</a></h4>
    {% endif %}
  </div>

  <br>

  <div>
    {% if site.pages.size > 0 %}
    <img src="assets/tla_insights.png" width="50px" align="left" hspace="10px">
    <h2>{{ page.list_title | default: "Recent TLA_insights" }}</h2>
    <br>
    <ul class="post-list">
      {% assign sorted_pages = site.pages %}
      {% assign sorted_pages = sorted_pages | where_exp: "item", "item.tla_area contains 'tla'" %}
      {% assign sorted_pages = site.pages | sort:"date" | reverse %}
      {% for page in sorted_pages reverse limit:3 %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ page.date | date: date_format }}</span>
        <h3>
          <a href="{{ page.url | relative_url }}">
            {{ page.title | escape }}
          </a>
        </h3>
        {% if site.show_excerpts %} {{ page.excerpt }} {% endif %}
      </li>
      {% endfor %}
    </ul>

    <h4>>> check all insights records here: <a href="/tla_insights/">TLA_insights</a></h4>
    {% endif %}
  </div>

  {% comment %} <div align="center">
    <font color="grey" size=2em>
      <br>
      /* developed with <a href="http://jekyllrb.com"><img src="assets/jekyll.png" width="50px"></a> hosted on <a
         href="http://github.com/emgsilva/esilva.net"><img src="assets/github.png" width="50px"></a> */
    </font>
  </div> {% endcomment %}

  <a rel="me" style="color:white" href="https://mastodon.social/@eduardodasilva">.</a>

</div>