---
layout: default
title: TLA_insights
permalink: /tla_insights/
categories: [tla_insights]
---

<div class="home">
  {% if page.title %}
  <h1>{{ page.title }}</h1>
  {% endif %}

  <img src="/assets/tla_insights.png" height="100px" align="left" hspace="10px">
  <br>

  <p>TLA_insights is my record of curated insights (and notes) on resources I find interesting and relevant on the
    topics of "Technical Leadership and Architecture" (TLA for short). I publish new "records" regularly in this page
    and regularly share a digest of new records. You can see this as an hybrid between an archive
    of curated insights records and a newsletter. I hope you find it interesting. If you have question or suggestions, don't
    hesitate on contacting me via <a href="mailto:emgsilva@gmail.com">email</a> or on <a
      href="https://bsky.app/profile/esilva.net">Bluesky</a>.
  </p>

  <br>
  <table style="border-collapse: collapse; border: none;" width="100%">
    <tr style="border: none; background-color: #f5d751; vertical-align: middle">
      <td style="border: none;">
        <h2><b>⏸️ Newsletter is dormant at the moment</b></h2> ...but stay tunned, as I will be resuming my newsletter soon in a new format and covering topics I am actively researching and working on.
      </td>
    </tr>
  </table>

  <b>Navigation</b><br>
  <a href="#areas">TLA_insights Areas</a><br>
  &nbsp;&nbsp;&nbsp;- <a href="#sociotech-arch"> Sociotechnical Architecture & Systems Design</a><br>
  &nbsp;&nbsp;&nbsp;- <a href="#tech-leadership"> Technical Leadership</a><br>
  &nbsp;&nbsp;&nbsp;- <a href="#software"> Software {Architecture, Engineering & Tech}</a><br>
  &nbsp;&nbsp;&nbsp;- <a href="#product"> Product {Thinking, Management & Organization}</a><br>
  &nbsp;&nbsp;&nbsp;- <a href="#productivity"> Personal Productivity</a><br>
  <a href="#digests">Digests</a>

  <br><br>

  <a name="areas"></a>
  <h1>TLA_insights Areas</h1>

  {% assign sorted_pages = site.pages %}
  {% assign sorted_pages = sorted_pages | where_exp: "item", "item.tla_area contains 'tla'" | sort:"date" %}
  {% assign sociotech_pages = sorted_pages | where_exp: "item", "item.tla_area contains 'tla_sociotech'" | reverse %}
  {% assign techleadership_pages = sorted_pages | where_exp: "item", "item.tla_area contains 'tla_tech-leadership'" |
  reverse %}
  {% assign software_pages = sorted_pages | where_exp: "item", "item.tla_area contains 'tla_software'" | reverse %}
  {% assign product_pages = sorted_pages | where_exp: "item", "item.tla_area contains 'tla_product'" | reverse %}
  {% assign productivity_pages = sorted_pages | where_exp: "item", "item.tla_area contains 'tla_productivity'" |
  reverse %}

  <a name="sociotech-arch"></a>
  <h2>Sociotechnical Architecture & Systems Design</h2>

  {% for page in sociotech_pages reverse %}
  <li>
    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    <span class="post-meta">{{ page.date | date: date_format }}</span>
    <a href="{{ page.url | relative_url }}">
      {{ page.title | escape }}
    </a>
    <span class="post-meta"> 🏷{{page.categories}}</span>
  </li>
  {% endfor %}

  <br>
  <a name="tech-leadership"></a>
  <h2>Technical Leadership</h2>

  {% for page in techleadership_pages reverse %}
  <li>
    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    <span class="post-meta">{{ page.date | date: date_format }}</span>
    <a href="{{ page.url | relative_url }}">
      {{ page.title | escape }}
    </a>
    <span class="post-meta"> 🏷{{page.categories}}</span>
  </li>
  {% endfor %}

  <br>
  <a name="software"></a>
  <h2>Software {Architecture, Engineering & Tech}</h2>

  {% for page in software_pages reverse %}
  <li>
    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    <span class="post-meta">{{ page.date | date: date_format }}</span>
    <a href="{{ page.url | relative_url }}">
      {{ page.title | escape }}
    </a>
    <span class="post-meta"> 🏷{{page.categories}}</span>
  </li>
  {% endfor %}

  <br>
  <a name="product"></a>
  <h2>Product {Thinking, Management & Organization}</h2>

  {% for page in product_pages reverse %}
  <li>
    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    <span class="post-meta">{{ page.date | date: date_format }}</span>
    <a href="{{ page.url | relative_url }}">
      {{ page.title | escape }}
    </a>
    <span class="post-meta"> 🏷{{page.categories}}</span>
  </li>
  {% endfor %}

  <br>
  <a name="productivity"></a>
  <h2>Personal Productivity</h2>

  {% for page in productivity_pages reverse %}
  <li>
    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    <span class="post-meta">{{ page.date | date: date_format }}</span>
    <a href="{{ page.url | relative_url }}">
      {{ page.title | escape }}
    </a>
    <span class="post-meta"> 🏷{{page.categories}}</span>
  </li>
  {% endfor %}

  <br>

  <a name="digests"></a>
  <h1>Digests</h1>

  <details>
    <summary><b>TLA_insights digest 5 [July 2021] - Architecture Topologies and Scopes</b></summary>
    <p>Check this issue here: <a href="digest-5">TLA_insights digest 5</a>
    </p>
  </details>
  <details>
    <summary><b>TLA_insights digest 4 [March 2021] - System Thinking & Product Thinking</b></summary>
    <p>
      This issue contains four entries packed of great insights: two on product thinking and two on systems thinking. On
      systems thinking I have a 15 minute video with probably one of my favorite "intro to systems thinking". The
      author is Russel Ackoff, who has been a leading thinker on this topic. The other systems thinking entry is by Trond
      Hjorteland, who is very active on trying to leverage system thinking principles to improve how we approach software
      development (namely have a sociotechnical approach to this). He has a great series of articles on this topic,
      highly recommended. The entries on product thinking are by Melissa Perri, namely key insights from her reference book
      "Escaping the Build Trap" (which I consider a must read for people looking at understanding modern product thinking).
      The other entry is from Naren Katakam who gives a 101 on Product Thinking (highly recommended reference to
      understand the very basics of product thinking in a simple and very visual manner). Check this issue here: <a
        href="digest-4">TLA_insights digest 4</a>
    </p>
  </details>
  <details>
    <summary><b>TLA_insights digest 3 [Dec. 2020] - Tech Vision and Strategy</b></summary>
    <p>
      Special "aggregate" issue on the topic of "Tech Vision and Strategy". I share several interesting insights based
      on references from Nick Tune (on "Why" you need Tech Vision and Strategy and "What" it can look like); Sarah
      Taraporewalla (on the "anatomy" of a Tech Strategy document and how to share & continuously execute and operate
      it); GitLab Vision and Strategy documents (covering several interesting public documents of GitLab sharing the way
      they set vision and strategy, and how they continuously operate it (and the cadence of activities) as a full
      distributed company); and by Will Larson (on how to drive Engineering/Tech Strategy bottom-up from the technical
      challenges observed on teams design documents - and how to create a feedback loop to improve future technical
      decision making). (More entries may be added in the future) Check here: <a href="digest-3">TLA_insights digest 3 -
        Tech Vision and Strategy</a>
    </p>
  </details>
  <details>
    <summary><b>TLA_insights digest 2 [Oct. 2020]</b></summary>
    <p>
      In this issue I share several interesting insights based on references from Matthew Skelton and Manuel Pais (main
      insights on their book Team Topologies and another one on a great podcast interview on the topic of "modern
      architecture" and especially the traits of "modern architect); and from Patrick Kua (on the secrets and strategies
      to build Strong Engineering Culture, where Patrick shares - as usual - amazing insights on how develop structural
      systems to support the continuous development of great engineering cultures). Check here: <a
        href="digest-2">TLA_insights digest 2</a>
    </p>
  </details>
  <details>
    <summary><b>TLA_insights digest 1 [Sept. 2020]</b></summary>
    <p>
      First digest of TLA_insights. Several interesting insights on resources from: Patrick Kua (challenges to becoming
      a "Multiplier" / Leader), Nick Tune (on visualizing Sociotechnical Architecture with DDD and Team Topologies),
      Stefan Tilkov (excellent discussion on why API-first may be a dangerous anti-pattern; and a second one on "good
      enough architecture") and August Bradley amazing PPV personal productivity method (among a few others). Check
      here: <a href="digest-1">TLA_insights digest 1</a>
    </p>
  </details>

  <br>

</div>